:root {
    --background-color: #470063;
    --text-color: #C0C999;
    --header-color: #B30089;
    --standout-color: #F62DAE;
    --border-color: #FD96A9;
}

body {
    font-family: 'Finlandica', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

header {
    background-color: var(--header-color);
    color: var(--text-color);
    height: 4rem;
    display: flex;
    align-items: flex-end;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

.wrapper {
    display: flex;
    flex-wrap: 0;
}

.wrapper ul {
    display: flex;
    flex-direction: column;
}

.wrapper ul li {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-right: 10px;
    background-color: var(--standout-color);
    padding: 10px;
}

.input-form form {
    display:flex;
    flex-direction: column;
    background-color: var(--standout-color);
    margin-bottom: 10px;
    padding: 16px;
    
    }